@font-face {

    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {

    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {

    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {

    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}


 :root { /*es parecido a lo que es la etiqueta html, todo lo que quieras colocar en html se hace aca */

    font-size: 16px;
    --gray30: #212121;  /* asi se crean las variables en css*/
    --gray20: #212429;
    --gray10: #616161;
}

body {

    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;

    /* font-family: charter; */
}

a {

    color:var(--gray30);
}

header {
    /* --gray10: red; (en caso que tengas que modificar la variable en cierta parte solamente) */
    font-size: 14px;
    color: var(--gray10);
}

header a{ /* es para referirse al a directamente */

    color: var(--gray10);
    text-decoration: none;
}

header a:hover { /* hover es cuando pasas encima de un texto o link como los a*/

    color: var(--gray30);
}

nav details summary { /* es para el titulo del menu */

    font-weight: bold;
}

h1 {

    font-size: 60px;
    /* font-size: 3.75en;  esto seria la unidad en em, seria 60/16 que es el tamaño de la fuente por default*/
    margin-top: 64px;
    margin-bottom: 16px;
    /* margin-left: 20px;
    margin-right: 10px; */

}

/* h1 + p {
    viene siendo un selector de herencia, agarra el hermano solamente, 
    en caso que querer agarrar todos los hermanos se coloca h1 ~ p 

    margin-bottom: 64px;
} */

hr {
    margin: 64px 0;
    background: red;
}

h2 {

    font-size: 2em; /* seria similar a 32px 32/16 = 2em */
     margin: 64px 0 40px; /* serian 64px para arriba, 0 a los lados y 40px para abajo */
    font-weight: normal;
}

h3 {
    font-size: 1.5em; /*  seria similar a 24 px */
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
}

pre {

    background: #2e5ffe;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid var(--gray30);

    /* bordes */
    /* border-top: 1px solid pink;
    border-top-color: aqua;
    border-top-style: dashed; no se usan mucho
    border-radius: 50px 100px 10px 0; para los bordes redondos */
}

blockquote span {
    color: var(--gray10);
}

blockquote span::before {
    content: '-';
}

 .debug { /*tecnicas para ver que selector estas agarrando y si es el correcto */
        /* se tiene que colocar la class debug por supuesto */
        
    /* box-shadow: inset 0 0 0 50px red; */
    outline: 3px solid red;
    /* background: red;
    border: 1px solid red !important; */
}

.hero {
    background-image: linear-gradient(to top,rgba(255, 255, 255, .3), transparent), url('../images/pattern.png');
    /* el background-image sirve para mezclar 2 imagenes de fondo, to top se refiere que viene desde abajo el bg */
    height: 350px;
    /* background-repeat: no-repeat; esto es para colocar que no se repita la imagen*/
    /* background-position: left 50px bottom 50px; es para colocar el background en una posicion*/
    /* background-size: cover; el size es para modificar el tamaño del bg y el cover es para colocarlo acorde*/
}

.section-content {
    
    margin-top: 164px;
}

 .section-content:first-of-type {  /* es para seleccionar solamente el primer section*/

    /* background: red; */
    margin: 0;
}

.section-content ol li {
    /* esto viene seleccionando solamente las ol del li dentro del section content*/
    line-height: 24px; 
}

.section-content ul li {
    /* esto viene seleccionando solamente las ul del li dentro del section content*/
    margin-bottom: 16px; 
}

.section-content + hr {
    display: none;
}

.section-content img {

    /* img que estan dentro del section content */

    margin-top: 40px;
}

.section-content {

    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 4px;
}

.section-content h3::before {  /* colocando pseudoelemento, aqui iria la numeracion */
    content: counter(titleList, decimal) '. ';
}

.section-content h3::after { /* colocando pseudoelemento, aqui iria la raya de bajo de los titulos*/

    content: '';
    width: 32px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
}
